.products{
    padding: 5%;

    &__top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;

        &-filter{
            display: flex;
            gap: 10px;
            
            a {
                text-decoration: none;
                color: #41403E;
            }
              a:active {
                text-decoration: none;
                border-bottom: 1px solid #DEAD6F;
            }
        }

        &-btn {
              
        background: transparent;
        padding: 20px; 
         color: #41403E;
         text-transform: uppercase;
         font-family: "Chilanka", cursive;
         font-size: 19px;
         width: 10%;
         border-radius: 5px;
         border: 1px solid #41403E;
      
        }
         &-btn:hover {
              
        background: #DEAD6F;
        padding: 20px; 
         color: #41403E;
         text-transform: uppercase;
         font-family: "Chilanka", cursive;
         font-size: 19px;
         width: 10%;
         border-radius: 5px;
         border: 1px solid #41403E;
      
        }

    }

   

    &__catalog{
        width: 100%;
        height: 100%;
        display: flex;
        grid-template-columns: repeat(4, 1fr);
        
        gap: 3%;
        margin: 2% 5%;

        &-card{
            background-color: #EEEBE5;
            border-radius: 15px;
            padding: 1rem;

            .card-info{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
            }
        }
    }
}

