.footer {
  padding: 48px 0;
  background: #F7EEE4;
  text-align: center;

  &__copy {
    color: #908F8D;
    margin-bottom: 14px;
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }}